<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../tui-grid/tui-grid.css" type="text/css"/>
    <script src="../tui-grid/tui-grid.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="../css/sb-admin-2.css" type="text/css"/>
<body>

<div style="align:center">
    <input type="text" class="form-control float-left w-75 mr-1" id="userSearchKeyword">
    <button type="button" class="btn btn-dark" id="userSearchButton">검색</button>
</div>

<div align="right">
    <button type="button" class="btn btn-primary mb-1" id="moveForm">등록</button>
</div>
<div id="userGrid"></div>
</body>
</html>


<script type="text/javascript" src="../js/user/user-list-grid.js"></script>
<script type="text/javascript" src="../js/user/user-list-view.js"></script>
<script type="text/javascript" src="../js/user/user-list-controller.js"></script>
<script type="text/javascript" src="../js/user/user-list-app.js"></script>


