<!DOCTYPE HTML>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="../css/sb-admin-2.css" type="text/css"/>

<div class="container" style="max-width: 500px">
    <form>
        <div>
            <label for="userId" class="dt">아이디</label>
            <input type="text" id="userId" name="userId" class="form-control">
            <label id="userIdValidMessage" name="validMessage"></label>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control">
            <label id="passwordValidMessage" name="validMessage" ></label>
        </div>
        <div>
            <label for="password">비밀번호 확인</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control">

        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" class="form-control">
            <label id="nameValidMessage" name="validMessage" ></label>

        </div>
        <div>
            <label for="companyName">회사명</label>
            <input type="text" id="companyName" name="companyName" class="form-control" >
            <label id="companyNameValidMessage" name="validMessage" ></label>

        </div>
        <div>
            <label for="department">부서</label>
            <input type="text" id="department" name="department" class="form-control">
            <label id="departmentValidMessage" name="validMessage" ></label>
        </div>
    </form>
    <div class="float-right mt-2">
        <button type="button" class="btn btn-primary" id="createUserButton">생성</button>
        <button type="button" class="btn btn-dark" id="cancelButton">취소</button>
    </div>
</div>
</html>


<script type="text/javascript" src="../js/user/userForm.js"></script>

